**This notebook is an exercise in the [Data Cleaning](https://www.kaggle.com/learn/data-cleaning) course.  You can reference the tutorial at [this link](https://www.kaggle.com/alexisbcook/inconsistent-data-entry).**

---

In this exercise, you'll apply what you learned in the **Inconsistent data entry** tutorial.

# Setup

The questions below will give you feedback on your work. Run the following cell to set up the feedback system.

In [76]:
from learntools.core import binder
binder.bind(globals())
from learntools.data_cleaning.ex5 import *
print("Setup Complete")

Setup Complete

# Get our environment set up

The first thing we'll need to do is load in the libraries and dataset we'll be using.  We use the same dataset from the tutorial.

In [77]:
# modules we'll use
import pandas as pd
import numpy as np

# helpful modules
import fuzzywuzzy
from fuzzywuzzy import process
import charset_normalizer

# read in all our data
professors = pd.read_csv("../input/pakistan-intellectual-capital/pakistan_intellectual_capital.csv")

# set seed for reproducibility
np.random.seed(0)

In [78]:
professors.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Unnamed: 0,S#,Teacher Name,University Currently Teaching,Department,Province University Located,Designation,Terminal Degree,Graduated from,Country,Year,Area of Specialization/Research Interests,Other Information
0,2,3,Dr. Abdul Basit,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,Software Engineering & DBMS,NaN
1,4,5,Dr. Waheed Noor,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,DBMS,NaN
2,5,6,Dr. Junaid Baber,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"Information processing, Multimedia mining",NaN
3,6,7,Dr. Maheen Bakhtyar,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"NLP, Information Retrieval, Question Answering...",NaN
4,24,25,Samina Azim,Sardar Bahadur Khan Women's University,Computer Science,Balochistan,Lecturer,BS,Balochistan University of Information Technolo...,Pakistan,2005.0,VLSI Electronics DLD Database,NaN

In [79]:
professors.describe(include='all')

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Unnamed: 0,S#,Teacher Name,University Currently Teaching,Department,Province University Located,Designation,Terminal Degree,Graduated from,Country,Year,Area of Specialization/Research Interests,Other Information
count,1142.000000,1142.000000,1142,1142,1142,1142,1123,1138,1142,1142,489.000000,623,124
unique,NaN,NaN,1133,63,17,5,46,42,350,38,NaN,571,52
top,NaN,NaN,Muhammad Zubair,Sir Syed University of Engineering and Technology,Computer Science,Punjab,Assistant Professor,MS,FAST– National University of Computer and Emer...,Pakistan,NaN,Software Engineering,PhD in progress
freq,NaN,NaN,3,81,744,449,489,463,67,776,NaN,16,27
mean,1054.350263,1055.350263,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2010.456033,NaN,NaN
std,520.202783,520.202783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.577565,NaN,NaN
min,2.000000,3.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1983.000000,NaN,NaN
25%,689.250000,690.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,NaN
50%,1087.500000,1088.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012.000000,NaN,NaN
75%,1476.750000,1477.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014.000000,NaN,NaN
max,1980.000000,1981.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,NaN,NaN

In [80]:
professors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1142 entries, 0 to 1141
Data columns (total 13 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Unnamed: 0                                 1142 non-null   int64
 1   S#                                         1142 non-null   int64
 2   Teacher Name                               1142 non-null   object
 3   University Currently Teaching              1142 non-null   object
 4   Department                                 1142 non-null   object
 5   Province University Located                1142 non-null   object
 6   Designation                                1123 non-null   object
 7   Terminal Degree                            1138 non-null   object
 8   Graduated from                             1142 non-null   object
 9   Country                                    1142 non-null   object
 10  Year                                       489 non-null    float64
 11  Area of Specialization/Research Interests  623 non-null    object
 12  Other Information                          124 non-null    object
dtypes: float64(1), int64(2), object(10)
memory usage: 116.1+ KB

Next, we'll redo all of the work that we did in the tutorial.

In [81]:
# convert to lower case
professors['Country'] = professors['Country'].str.lower()
# remove trailing white spaces
professors['Country'] = professors['Country'].str.strip()

# get the top 10 closest matches to "south korea"
countries = professors['Country'].unique()
matches = fuzzywuzzy.process.extract("south korea", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

def replace_matches_in_column(df, column, string_to_match, min_ratio = 47):
    # get a list of unique strings
    strings = df[column].unique()
    
    # get the top 10 closest matches to our input string
    matches = fuzzywuzzy.process.extract(string_to_match, strings, 
                                         limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

    # only get matches with a ratio > 90
    close_matches = [matches[0] for matches in matches if matches[1] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match
    
    # let us know the function's done
    print("All done!")
    
replace_matches_in_column(df=professors, column='Country', string_to_match="south korea")
countries = professors['Country'].unique()

All done!

# 1) Examine another column

Write code below to take a look at all the unique values in the "Graduated from" column.

In [82]:
# TODO: Your code here
professors["Graduated from"].unique()

array(['Asian Institute of Technology',
       'Balochistan University of Information Technology, Engineering and Management Sciences',
       'University of Balochistan',
       "Sardar Bahadur Khan Women's University",
       'SRH Hochschule Heidelberg',
       'Institute of Business Administration,Karachi', 'DUET,Karachi',
       'University of Turbat', 'University of Vienna',
       'Monash University', 'University of Stirling',
       'Chinese Academy of Sciences', 'University of Innsbruck',
       'Vienna University of Technology', 'University of Paris-Est',
       'The University of Cambridge', 'Harbin Institute of Technology',
       'University of Nice, Sophia Antipolis', 'The University of York',
       'Galilée - Université Paris 13', 'University of Bedfordshire',
       'North Dakota State University', 'Kyungpook National University',
       'The University of Manchester',
       'National University of Sciences and Technology',
       'FAST– National University of Computer and Emerging Sciences',
       'Capital University of Science & Technology', 'Gomal University',
       'University of Malaya', 'KTH Royal Institute of Technology',
       'University of Technology',
       'COMSATS Institute of Information Technology',
       'Government College University', 'Mohammad Ali Jinnah University',
       'Shaheed Zulfikar Ali Bhutto Institute of Science and Technology',
       'Blekinge Institute of Technology', 'University of Grenoble',
       'Politecnico di Torino', '\xa0University of Missouri, KC',
       'University of Bonn', 'University of Paris',
       'The University of Leeds', '\xa0University of Windsor',
       '\xa0National University of Sciences and Technology-NIIT',
       'University of Trento', 'Stockholm University',
       'University of New South Wales, Sydney',
       'Kingston University London', 'Griffith University',
       'University of Salford', 'Loughborough University',
       'International Islamic University,Islamabad',
       'University of Central Missouri',
       'Riphah International University', 'University of BedfordShire',
       'University of Illinois', 'University Of Oslo',
       'Nancy 2 University', 'University of Limerick',
       'Ghulam Ishaq Khan Institute of Science and Technology',
       'University Of Waterloo', 'University of Stuttgart',
       'Liverpool John Moores University', 'University Of Caen',
       'Paris Tech University of Eurecom', 'University Of Salford',
       'Lahore University of Management Sciences',
       'Dresden University Of Technology, Dresden\xa0',
       'COMSATS Institute of Information Technology,Vehari',
       'COMSATS Institute of Information Technology,Wah Cantt',
       'TU Berlin',
       'FAST– National University of Computer and Emerging Sciences,Islamabad',
       'Tsinghua University', 'The University of Auckland',
       'IQRA University', 'Universiti Teknologi PETRONAS',
       'COMSATS Institute of Information Technology,Islamabad',
       'Razak School of Engineering and Advanced Technology, Universiti Teknologi Malaysia (UTM)',
       'National University of Modern Languages',
       'University of Engineering and Technology',
       'University Institute of Information Technology',
       'University of Arid Agriculture', 'Quaid-i-Azam University',
       'Queen Mary University of London',
       'Pakistan Institute of Engineering and Applied Sciences',
       'Pohang University of Science and Technology',
       'Uppsala University', 'Kyung Hee University',
       'University of Liverpool', 'University of Sunderland',
       'Mid Sweden University', 'Bahria University,Islamabad',
       'Chosun University', 'University of Sussex',
       'Paris Descartes University', 'University of Leicester',
       'University of Porto', 'University of Manchester',
       'Université Henri Poincaré, Nancy 1,', 'Bahria University',
       'Centre for Advanced Studies in Engineering',
       'Norwegian University of Science and Technology (NTNU),',
       'The Islamia University of Bahawalpur ', 'Universiti Technologi',
       'California State University', 'University of Genova',
       'University of Engineering and Technology,Taxila',
       'University of\xa0Liverpool John Moores University', 'Guildford',
       'University of Bradford', 'Graz University of Technology',
       'Huazhong University of Science and Technology (HUST), Wuhan',
       'University of Konstanz',
       'National University of Modern Languages,Islamabad',
       'FAST– National University of Computer and Emerging Sciences,Lahore',
       'Gwangju Institute of Science and Technology',
       'University of Birmingham', 'Manchester University',
       'Beijing Institute of Technology', 'University of Paisley',
       'Univ of Porto/Univ of Aveiro Portugal/Uni of Minho',
       'University of Peshawar', 'Universität Salzburg',
       'Colorado State University', 'University of Virginia',
       'University of Orleans', 'Zhejiang University',
       'University of Leeds', 'Foundation University',
       'Barani Institute of Information Technology', 'Abasyn University',
       'Pir Mehr Ali Shah Arid Agriculture University', 'Preston',
       'University of Bergen', 'Universtiy of Lahore',
       'HITEC University,Taxila', 'Allama Iqbal Open University',
       'University of Wales,Aberystwyth', '\xa0University of Bonn',
       '\xa0Hongik University',
       'Skolkovo Institute of Science and Technology,\xa0',
       'Agricultural University Peshawar', 'National Textile University',
       'FAST– National University of Computer and Emerging Sciences,Chiniot-Faisalabad',
       'FAST– National University of Computer and Emerging Sciences,Peshawar',
       '\xa0Boston University', 'Brunel University',
       'George Washington University', 'University of the Punjab',
       '\xa0University of Bedfordshire',
       'University Of Southern California', 'Beihang University',
       'Institute of Business Administration',
       'Abdus Salam School of Mathematical Sciences,GC University',
       'Linköping University',
       'National College of Business Administration and Economics',
       'Åbo Akademi University,', 'University of Central Punjab',
       'University of Ulm', 'University of Agriculture',
       'University of Notre Dame Indiana\xa0',
       'Punjab University College of Information Technology',
       'Ilmenau University of Technology', ' Iowa State University',
       ' University of Innsbruck', 'Vrije University, Amsterdam',
       ' Columbia University', 'University of Freiburg',
       ' Delft University of Technology',
       ' University of Texas at Arlington (UTA)', ' University of Turin',
       ' University of Central Florida', 'Saarland University',
       'University of Central Florida', 'Oxford Brookes University',
       'Information Technology University (ITU)',
       'University of Canterbury', 'University of Patras',
       'Middle East Technical University', 'University of Bristol',
       'University of Southern California',
       'Northeastern University,Boston', 'Purdue University',
       'University of Plymouth', 'University of South Australia',
       'Stanford University', 'Chalmers University of Technology',
       'Massachusetts Institute of Technology',
       'Sapienza University of Rome',
       'Eindhoven University of Technology (TU/e)',
       'United Nations University International Institute for Software Technology (UNU-IIST)',
       'Georgetown University,DC', 'RWTH Aachen University',
       'Columbia University',
       'Rutgers State University of New Jersey, NJ',
       'University of Florida', 'Technical University of Braunschweig',
       'Carnegie Mellon University, Pittsburgh',
       'The Ohio State University', 'National University of Singapore',
       'University of British Columbia', 'University of Pittsburgh',
       'The State University of New Jersey',
       'The University of Texas at Austin',
       'Imperial College, University of London',
       'University of Colorado\xa0', 'University of Bath',
       'Tilburg University', 'Pompeu Fabra University Barcelona',
       'University of Management and Technology',
       'COMSATS Institute of Information Technology,Lahore',
       'University of Agriculture, Faisalabad\xa0',
       'University of Engineering & Technology',
       'University of Agriculture, Faisalabad',
       'Fatima Jinnah Women University, Rawalpindi',
       'Kohat University of Science & Technology, Kohat',
       'Virtual University of Pakistan', 'Bahauddin Zakariya University',
       'University of the Punjab,Gujranwala',
       'Lahore College for Women University',
       'Superior University, Lahore',
       'Shaheed Zulfikar Ali Bhutto Institute of Science and Technology,Islamabad',
       'University of South Florida', 'Politecnico di Milano',
       'Abdul Wali Khan University, Mardan', 'University of Lahore',
       'Minhaj University Lahore', 'Lahore Leads University',
       'Middlesex University', 'Beijing Institute of Technology Beijing',
       'Beaconhouse National University', 'Hamdard University',
       'University Paris', 'Sindh University',
       'NED University of Engineering And Technology',
       'Staffordshire University', 'DePaul University, Chicago',
       'University of Kent',
       'Mehran University of Engineering & Technology',
       'Quaid-e-Awam University of Engineering, Science & Technology',
       'Shah Abdul Latif University, Khairpur',
       'Sindh Agriculture University', 'Swansea',
       'University of Shanghai for Science and Technology',
       'Griffith University,Nathan Campus', 'University of Essex',
       'Xiamen university', 'Wayne State University',
       'The Queens University of Belfast', 'Sungkyunkwan University',
       'Nanyang Tech University', "Universite d'Evry Val d'Essonne",
       'Sir Syed University of Engineering and Technology',
       'New York Institute of Technology', 'Fedral Urdu University',
       'ISRA University', 'University of Karachi',
       'South Asian University',
       'Capital University of Science and Technology',
       'University of Manchester Institute of Science and Technology',
       'The University of Birmingham',
       'Max Planck Institute for Computer Science',
       'George Mason University', 'University of Southampton',
       'Temple University', 'University of Bayreuth',
       'Muroran Institute of Technology,Hokkaido',
       'University of Bologna', 'International Islamic University',
       'PAF-Karachi Institute of Economics and Technology',
       'Institute of Business Administration,Sukkur',
       'Myongji University', 'State University of New York System',
       'SSindh Agriculture University', 'London University',
       'Universiti Putra Malaysia Putra',
       'University of Rome Tor Vergata', 'University of Mississippi\xa0',
       'University of Wales', 'University of Northampton',
       'University of Abertay Dundee',
       'Biztek Institute Of Business & Technology,Karachi',
       'University of Surrey', 'Jinnah University for Women',
       '\xa0Nanyang Technological University',
       'Tokyo Institute of Technology', 'NCSU',
       'Usman Institute of Technology', 'Hanyang University, Ansan',
       'BUKC', 'Universtiy of Karachi', 'Pace University, New York',
       'INSA de Lyon, Rhone', 'University of Dundee',
       'Illinois Institute of Technology',
       'City University of Science and Technology',
       'Usman Institute of Technology (Hamdard University)',
       'University of Malaga', 'Manchester Metropolitan University',
       'Kyushu University,Fukuoka',
       'King Abdullah University of Science and Technology',
       'INRIA Saclay Ile-de-France', 'Université de la Rochelle',
       'University of South Brittany', 'Aston University, Birmingham',
       'University of Agriculture Faisalabad',
       'Hamburg University of Technology',
       'Government College University, Faisalabad', 'JKU',
       'University of Oviedo',
       'Beijing University of Posts & Telecommunications',
       'Government College University,Faisalabad',
       'Nottingham Trent University', 'University of Glasgow',
       'Coventry University',
       'Riphah International University,Faisalabad',
       'Australian National University, Caneberra',
       'Swedish University of Agricultural Sciences, Uppsala',
       'University of Gujrat', 'IQRA University,Islamabad',
       'Jonkoping University', 'Colorado Technical University',
       'Cranfield University', 'Technical University of Graz',
       'University of York', 'Brock University Canada',
       'University of Westminster', 'University of Saarland',
       'The University of Queensland', 'University of Rochester',
       'Islamia College University ',
       'IBMS KP Agricultural University Peshawar',
       'University of Kuala Lumpur', 'University of Regina', 'TU Wien',
       'Swinburne University Of Technology',
       'Institute Of Managment Sciences, Peshawar',
       'Universiti Tun Hussein Onn Malaysia',
       'Institute of Management Sciences, Peshawar',
       'University of Huddersfield',
       'University of Engineering and Technology,Peshawar',
       'IQRA University,Karachi', 'John Moorse University, Liverpool',
       'CECOS University of Information Technology and Emerging Sciences,Peshawar',
       'University of the West Scotland', 'Concordia University,Montreal',
       'JNU', 'Grenoble', 'Florida Atlantic University',
       'Seoul National University'], dtype=object)

Do you notice any inconsistencies in the data?  Can any of the inconsistencies in the data be fixed by removing white spaces at the beginning and end of cells?

Once you have answered these questions, run the code cell below to get credit for your work.

In [83]:
# Check your answer (Run this code cell to receive credit!)
q1.check()

Correct:

There are inconsistencies that can be fixed by removing white spaces at the beginning and end of cells.  For instance, "University of Central Florida" and " University of Central Florida" both appear in the column.

In [84]:
# Line below will give you a hint
q1.hint()
q1.solution()

Hint: Use `unis = professors['Graduated from'].unique()` to take a look at the unique values in the 'Graduated from' column. You may find it useful to sort the data before printing it.

Solution: There are inconsistencies that can be fixed by removing white spaces at the beginning and end of cells.  For instance, "University of Central Florida" and " University of Central Florida" both appear in the column.

# 2) Do some text pre-processing

Convert every entry in the "Graduated from" column in the `professors` DataFrame to remove white spaces at the beginning and end of cells.

In [85]:
# TODO: Your code here
professors['Graduated from'] = professors['Graduated from'].str.strip()
print(professors['Graduated from'])

# Check your answer
q2.check()

0                           Asian Institute of Technology
1                           Asian Institute of Technology
2                           Asian Institute of Technology
3                           Asian Institute of Technology
4       Balochistan University of Information Technolo...
                              ...
1137                                                  JNU
1138                                             Grenoble
1139                          Florida Atlantic University
1140    Ghulam Ishaq Khan Institute of Science and Tec...
1141                            Seoul National University
Name: Graduated from, Length: 1142, dtype: object

Correct

In [86]:
# Lines below will give you a hint or solution code
q2.hint()
q2.solution()

Hint: In the tutorial, you did the same operation on a different column.

Solution:
```python
professors['Graduated from'] = professors['Graduated from'].str.strip()

```

# 3) Continue working with countries

In the tutorial, we focused on cleaning up inconsistencies in the "Country" column.  Run the code cell below to view the list of unique values that we ended with.

In [87]:
# get all the unique values in the 'City' column
countries = professors['Country'].unique()

# sort them alphabetically and then take a closer look
countries.sort()
countries

array(['australia', 'austria', 'canada', 'china', 'finland', 'france',
       'germany', 'greece', 'hongkong', 'ireland', 'italy', 'japan',
       'macau', 'malaysia', 'mauritius', 'netherland', 'new zealand',
       'norway', 'pakistan', 'portugal', 'russian federation',
       'saudi arabia', 'scotland', 'singapore', 'south korea', 'spain',
       'sweden', 'thailand', 'turkey', 'uk', 'urbana', 'usa', 'usofa'],
      dtype=object)

Take another look at the "Country" column and see if there's any more data cleaning we need to do.

It looks like 'usa' and 'usofa' should be the same country.  Correct the "Country" column in the dataframe to replace 'usofa' with 'usa'.

**Use the most recent version of the DataFrame (with the whitespaces at the beginning and end of cells removed) from question 2.**

In [88]:
# TODO: Your code here!
matches = fuzzywuzzy.process.extract("usa", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
replace_matches_in_column(df=professors, column='Country', string_to_match="usa", min_ratio=70)

# Check your answer
q3.check()

All done!

Correct

In [91]:
countries = professors['Country'].unique()
countries

array(['thailand', 'pakistan', 'germany', 'austria', 'australia', 'uk',
       'china', 'france', 'usa', 'south korea', 'malaysia', 'sweden',
       'italy', 'canada', 'norway', 'ireland', 'new zealand', 'urbana',
       'portugal', 'russian federation', 'finland', 'netherland',
       'greece', 'turkey', 'macau', 'singapore', 'spain', 'japan',
       'hongkong', 'saudi arabia', 'mauritius', 'scotland'], dtype=object)

In [90]:
# Lines below will give you a hint or solution code
q3.hint()
q3.solution()

Hint: Use the `replace_matches_in_column()` function defined above.

Solution:
```python
matches = fuzzywuzzy.process.extract("usa", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)
replace_matches_in_column(df=professors, column='Country', string_to_match="usa", min_ratio=70)

```

# Congratulations!

Congratulations for completing the **Data Cleaning** course on Kaggle Learn!

To practice your new skills, you're encouraged to download and investigate some of [Kaggle's Datasets](https://www.kaggle.com/datasets).

---




*Have questions or comments? Visit the [course discussion forum](https://www.kaggle.com/learn/data-cleaning/discussion) to chat with other learners.*